.cover{
    background-image: url(./images/chill.jpeg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;
}
.dropdown{
    text-align: right;
    /* color: darksalmon; */
}
.fomula{
    text-align: center;
    color: rgb(15, 114, 128);
}