.cover{
    background-image: url(./images/friends.jpeg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;
}
.dropdown{
    text-align: right;
    /* color: darksalmon; */
}